<!DOCTYPE html>
<html>
	<head>
		<style>
			.colored {
				color: #d0d0d0;
			}
		</style>
	</head>
	<body style="font-family: Verdana;">
		<h1 style="margin-top: 0;">Hello world</h1>
		<p id="message"></p>

		<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
		<script>
			const socket = io();
			socket.on('pong', function(data) {
				document.getElementById('message').innerText = data;
			});
			socket.on('colored', function(i) {
				var text = document.getElementById('message').innerText;
				document.getElementById('message').innerHTML =
					`<span class="colored">${text.slice(0, i+1)}</span>${text.slice(i+1)}`;
			});
			socket.emit('ping');
		</script>
	</body>
</html>
